.question-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    margin-top:10px;
}
.not-found-question{
    display: flex;
    align-items: center;
    justify-content: center;
}
.not-found-text{
    font-weight: bold;
    margin:10vh;
    font-size: large;
}

